
.cartCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    margin-bottom: 20px;
    padding: 14px;
    border-radius: 5px;
}
/* .cartWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
} */
img {
    height: 80px;
}
.btn {
    border: none;
    outline: none;
    background: #764abc;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: #513282;
}